.about-content {
    font-family: 'Lobster', cursive;
 /* Replace 'Arial' with the desired font family */
    font-size: 16px; /* Adjust the font size as needed */
    line-height: 1.5; /* Adjust the line height for better readability */
    color: #333; /* Set the text color */
    text-align: justify; /* Align text to justify for a clean look */
  }
  